@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Libre Baskerville', 'Times New Roman', serif;
  font-size: 80%;
}

ol {
  list-style: none;
}

img {
  break-inside: avoid-page;
}

.logo {
  width: 14%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signature {
  margin-top: 40px;
}

.resolution {
  break-inside: avoid-page;
  border-radius: 10px;
  width: 80%;
  padding: 0px 10px;
  print-color-adjust: exact;
  margin: auto;
}

.success {
  background-color: rgb(186, 238, 186);
  border: 1px solid rgb(186, 238, 186);
}

.failure {
  background-color: rgb(250, 213, 198);
  border: 1px solid rgb(250, 213, 198);
}

/* Targets all the pages */
@page {
  size: a4 portrait;
  margin: 1cm;
}