@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Libre Baskerville', 'Times New Roman', serif;
  font-size: 80%;
}

ol {
  list-style: none;
  padding-left: 1.5em;
}

img {
  break-inside: avoid-page;
}

.logo {
  width: 14%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signature-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.signature {
  box-sizing: border-box;
  padding-top: 60px;
  text-align: center;
}

.signature > hr {
  width: 85%;
}

.resolution {
  break-inside: avoid-page;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  width: 70%;
  padding: 0px 10px;
  print-color-adjust: exact;
  margin: auto;
}

.success {
  border-color: limegreen;
}

.failure {
  border-color: red;
}

.text-center {
  text-align: center;
}

/* Targets all the pages */
@page {
  size: a4 portrait;
  margin: 1cm;
}