/*
Svésedlice, Czechia - style for generating municipality meeting reports.
*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* Targets all the pages */
@page {
  size: a4 portrait;
  margin: 1cm;
}

body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-size: 80%;
}

hr {
  border: 1px solid black;
}

ol {
  list-style: none;
  padding-left: 1.5em;
}

img {
  -webkit-break-inside: avoid-page;
  break-inside: avoid-page;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.25em;
}

.logo {
  width: 14%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signature-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.signature {
  box-sizing: border-box;
  padding-top: 60px;
  text-align: center;
}

.signature > hr {
  width: 85%;
  border: 1px solid darkslateblue;
}

.resolution-vote {
	width: 1.5em;
	display: inline-block;
	height: 1em;
}

.resolution-success-icon {
  color: limegreen;
}

.resolution-failure-icon {
  color: red;
}

.resolution-dontknow-icon {
  color: orange;
}

.resolution-vote-box {
  break-inside: avoid-page;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  width: 70%;
  padding: 0px 10px;
  print-color-adjust: exact;
  margin: auto;
}

.success {
  border-color: limegreen;
}

.failure {
  border-color: red;
}

.text-center {
  text-align: center;
}