/*
Svésedlice, Czechia - style for generating municipality meeting reports.
*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --success-color: limegreen;
  --failure-color: red;
  --warning-color: orange;
  --signature-color: gray;
  --table-border: black;

  font-family: "EB Garamond", serif;
}

/* Targets all the pages */
@page {
  size: a4 portrait;
  margin: 2.2cm 1.45cm;
}

body {
  margin: 0;
  font-optical-sizing: auto;
  font-size: 11pt;
  line-height: 1.1;
}

hr {
  border: 1px solid black;
}

ol {
  list-style: none;
  padding-left: 1.5em;
}

table {
  width: fit-content;
  border-collapse: collapse;
}

td, th {
  padding: 4px;
  border: 1px solid var(--table-border);
}

.ol-classic {
  list-style: revert;
  padding-left: 1.5em;
}

img {
  -webkit-break-inside: avoid-page;
  break-inside: avoid-page;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.25em;
  /* font-size: 70%; */
}

.logo {
  width: 14%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signature-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.signature {
  box-sizing: border-box;
  padding-top: 60px;
  text-align: center;
}

.signature>hr {
  width: 85%;
  border: 1px dotted var(--signature-color);
}

.resolution-vote {
  width: 1.5em;
  display: inline-block;
  height: 1em;
}

.resolution-text {
  font-weight: 600;
}

.resolution-success-icon {
  color: var(--success-color);
  font-weight: bold;
}

.resolution-failure-icon {
  color: var(--failure-color);
  font-weight: bold;
}

.resolution-dontknow-icon {
  color: var(--warning-color);
  font-weight: bold;
}

.resolution-vote-box {
  break-inside: avoid-page;
  /*
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  */

  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 70%;
  padding: 0px 10px;
  print-color-adjust: exact;
  margin: auto;
}

.resolution-list-line {
  height: 2px;
  border: 0;
  background-image: linear-gradient(90deg, rgb(230, 230, 230) 0%, black 50%, rgb(230, 230, 230) 100%);
}

.success {
  border-color: var(--success-color);
}

.failure {
  border-color: var(--failure-color);
}

.text-center {
  text-align: center;
}