---
name: zzzo

on:
  push:
    branches: ["*"]
    tags: ["*"]

jobs:
  build-zzzo:
    name: "zzzo: build"
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [windows-2022]
        include:
          - os: windows-2022
            script_name: .\resources\scripts\build-windows.ps1

    steps:         
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Setup Nuget
        uses: Nuget/setup-nuget@v1
             
      - name: Build application
        run: ${{ matrix.script_name }} "${{ matrix.os }}"

      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          if-no-files-found: error
          name: zzzo-latest.zip
          path: ./*.zip

  dist-binaries:
    name: "zzzo: distribute"
    needs:
      - build-zzzo
    runs-on: "windows-2022"
    permissions:
      contents: write

    steps:
      - name: Download binaries from previous jobs
        uses: actions/download-artifact@v3
        with:
          path: artifacts

      - name: Release development binaries
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: artifacts/*/*
          name: Nejnovější varianta programu
          omitBodyDuringUpdate: true
          prerelease: true
          removeArtifacts: true
          tag: devbuild

      - name: Release stable binaries
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        with:
          artifactErrorsFailBuild: true
          artifacts: artifacts/*/*
          draft: true